@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 1350px;
    height: auto;
}

div#callattention {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 15px;
    width: 100%;
    height: 39px;
    background-color: #4B4D6B;
    text-align: center;
}

div#container {
    background-color: #000BE6;
    width: 1350px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

div#SearchBox {
    background-color: white;
    width: 630px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

div#SearchBox img {
    margin-right: 30px;
}

div#Logo {
    background-color: rgb(170, 102, 19);
    width: 125px;
    height: 125px;
    margin: 0px 108px 0px -320px;   
}

div#BarCategories {
    background-color: black;
    width: 1350px;
    height: 50px;
    margin-top: 0px;
}

ul {
    color: white;
    list-style-type: none;
    display:inline-flex
}

li {
    padding: 15px;
}